
*{
    padding: 0px;
    margin: 0px;
     
}

body{
display: flex;
width: 100vw;
height: 100vh;
/* background-position: center; */
/* background-color: rgba(4, 4, 114, 0.046); */
background-blend-mode: color;
background-size:80%;
background-size: cover;
background-repeat: no-repeat;
background-position-y: 77%;
position: relative;

}
.difLevels{
  margin-bottom: 92%;
}

.globalContainer{  
width:auto;
height:91vh;
position: relative;
align-items: center;
justify-content: space-between;
flex-direction: row; 
}
.hide{
  display: none;
}
.midContainer{
  position: relative;
   display: flex;
   width: 60%;
   height: 75%;
   left: 19%;
   top:9%;
   position: absolute;
   justify-content: center;
}
.gameContainer{
/* z-index: 8; */
border-radius: 35px;
position: absolute;
background-size:cover;
display: flex;
width:100%;
height: 100%;
/* top: ; */
align-items: center;
justify-content: center;
 background-color: #2f6a95d7;  
 border: 2px solid gold;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.volume{
   z-index: 1;
 position: absolute;
  top: 11%;
  left: 5%; 
align-content: center;
padding: 0.4rem;
/* margin-top:2rem; */
/* margin-left: 6rem; */
height: 20px;
border: 1px solid rgb(255, 191, 0);
width: 10rem;
background-color: rgb(34, 143, 55);
border-radius: 35px;
box-shadow: rgba(204, 179, 18, 0.882) 0px 0px 60px 5px;  
  
}
.spaceL{
  justify-content: center;
  /* z-index: 25; */
  display: flex;
  flex-direction: row;
  /* z-index: 9; */
  line-height: 50px;
   width: 15%;
   height: 90%;
   left: 3%;
   margin-top: 13%;
   position: relative;
}
.topBar{
top: 0;
position: absolute;
display: flex;
justify-content:center;
padding-top: auto;
align-items: center;
border-bottom: 3px solid gold;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;border-radius: 35px;
height: 12%;
width: 100%;
left: 0%;
background-color: rgb(109, 74, 10);
}
.livesTitle{
  width: 100%;
  font-size: 40px;
   font-family: 'Bungee Spice', cursive;
}
.spaceL1{
  position: absolute;
  background-image: url(/img/hart.gif);
  background-size:80%;
  background-repeat: no-repeat;
   width:50%;
  height: 22%;
  /* margin-top: 3%; */
  /* z-index: 9; */
  top:9%;
  -webkit-filter: drop-shadow(10px 10px 10px #222); 
 filter: drop-shadow(0px 0px 25px rgb(235, 236, 235));
}
.spaceL2{
  position: absolute;
  background-image: url(/img/hart.gif);
  background-size:80%;
  background-repeat: no-repeat;
   width:50%;
  height: 22%;
  /* z-index: 9; */
  top:29%;

   -webkit-filter: drop-shadow(10px 10px 10px #222);
filter: drop-shadow(0px 0px 25px rgb(232, 237, 233));
}
.spaceL3{
  position: absolute;
  /* z-index: 25; */
  background-image: url(/img/hart.gif);
  background-size:80%;
  background-repeat: no-repeat;
  width:50%;
  height: 22%;
  /* margin-top: 1%; */
  top:49%;
  /* left: 4%; */
  /* margin-left: 5%; */
-webkit-filter: drop-shadow(10px 10px 10px #222); 
filter: drop-shadow(0px 0px 25px rgb(230, 234, 231)); 
}
.score{
position: absolute;
font-family: 'Bungee Spice', cursive;
text-align: center;
color: white;
font-size: 40px;
height: 100%;
width: 10%;
left:7% ;
font-size: 60px;
height: 80%;
width: 10%;
bottom: 20%;
top:5%;
-webkit-filter: drop-shadow(50px 50px 10px #222);
filter: drop-shadow(0px 5px 10px rgb(8, 4, 0));
}
.startGameBtn{
  position: absolute;
background-position: center;
border: none;
background-color: rgba(240, 255, 255, 0);
background-image: url(/img/game-button.png);
height: 100%;
background-size: contain;
background-repeat: no-repeat;
width: 20%;
/* right: 2%; */
cursor: pointer;
-webkit-filter: drop-shadow(10px 10px 10px #222);
filter: drop-shadow(0px 0px 45px rgb(215, 11, 11));

}
.startGameBtn:hover{
-webkit-filter: drop-shadow(10px 10px 10px #222);
filter: drop-shadow(0px 0px 65px rgb(198, 195, 7));}

.timer{
  position: absolute;
font-family: 'Bungee Spice', cursive;
text-align: center;
color: white;
font-size: 60px;
height: 80%;
width: 10%;
top: 5%;
right:8%;
-webkit-filter: drop-shadow(50px 50px 10px #222);
filter: drop-shadow(0px 5px 10px rgb(8, 4, 0));
}
.board{
position: absolute;
display: flex;
flex-direction: column;
 border: 1px solid gold;
background-color: rgb(130, 169, 196);
width:fit-content;
top: 16%;


}

.board-cells{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cell{
 width: 26px;
 height: 26px;
 border: 2px solid rgb(55, 54, 54);
 cursor: pointer;
 text-align: center;
 font-size: 22px;
font-weight: bold; 
background-image:url(/img/blockImg.jpg);
background-size: cover;
  /* border-top:3px solid rgba(9, 8, 8, 0.557);
  border-left:3px solid rgba(33, 31, 31, 0.791);
  border-right:3px solid rgba(158, 122, 44, 0.684);
  border-bottom:3px solid rgba(219, 156, 74, 0.817);  */
}
.scoreTable{
position: absolute;
}
.spaceR{
  /* z-index: 9; */
  display: flex;
  flex-direction: column;
  color: red;
   width: 17%;
   height: 58%;
   position: absolute;
   align-items: right;
   right: 2%;
   top: 18%;
   font-size: 30px;
   font-family: 'Bungee Spice', cursive;
   line-height: 42px;
 
  
}
.clickHere{
background-image:url(img/clickHere.gif);
/* border: 1px solid red; */
 margin-top: -26%;
  height: 20%;
  width: 40%;
  margin-left: 27%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.emoji{
 position: absolute;
  right: 18%; 
 top: 54%;
  height: 60%;
  width: 70%;
  background-image: url(/img/Beginner-emoji.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    -webkit-filter: drop-shadow(10px 10px 10px #222); 
 filter: drop-shadow(0px 0px 25px rgb(251, 245, 246));
}
.show{
  background-color: #d2d2d2;
  /* border-top:2px solid white;
  border-left:2px solid white;
  border-right:2px solid rgb(126, 126, 126);
  border-bottom:2px solid rgb(129, 128, 128); */
  cursor: not-allowed;
}
.noClick {
  pointer-events: none;
}
.mineImg{
  background-color: none;
  background-image: url(/img/mine.png);
  background-size: contain;
}
.flagged{
  background-color:antiquewhite;
  background-image: url(/img/flag.png);
  background-size:cover;
}
.color1{
color: red;
}
.color2{
color: green;
}
.color3{
color: blue;
}
.color4{
color: rgb(91, 66, 4);
}
.color5{
color: blueviolet;
}
.color6{
  color: darkblue;
}
.color0{
  color: #d2d2d200;
}
.redMine{
  background-color: red;
}
.bgGreen{
  background-color: rgb(3, 132, 3);
}
.bgRed{
  background-color: rgb(144, 8, 8);
}
.clearBg{
  background-image: url("");
}